{% extends "layout.html" %}
{% block contenido %}

<a href="/registrar">Registrar nuevo motor</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Marca</th>
        <th>Potencia</th>
        <th>Frame</th>
        <th>Ubicación</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Obs</th>
        <th>QR</th>
        <th>Eliminar</th>
    </tr>

    {% for m in motores %}
    <tr>
        <td>{{ m[0] }}</td>
        <td>{{ m[1] }}</td>
        <td>{{ m[2] }}</td>
        <td>{{ m[3] }}</td>
        <td>{{ m[4] }}</td>
        <td>{{ m[5] }}</td>
        <td>{{ m[6] }}</td>
        <td>{{ m[7] }}</td>
        <td>{{ m[8] }}</td>

        <td>
            <img src="/qr/{{ m[1] }}" width="80">
        </td>

        <td>
            <a href="/eliminar/{{ m[1] }}" onclick="return confirm('¿Eliminar?')">❌</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
