{% extends "layout.html" %}
{% block contenido %}

<h2>Retiro de Motor</h2>

<table border="1">
    <tr><th>Código</th><td>{{ motor[1] }}</td></tr>
    <tr><th>Marca</th><td>{{ motor[2] }}</td></tr>
    <tr><th>Potencia</th><td>{{ motor[3] }}</td></tr>
    <tr><th>Frame</th><td>{{ motor[4] }}</td></tr>
    <tr><th>Ubicación</th><td>{{ motor[5] }}</td></tr>
    <tr><th>Estado actual</th><td>{{ motor[6] }}</td></tr>
</table>

<br>

<form method="POST">
    <label>Quién retira:</label><br>
    <input type="text" name="retirado_por" required><br><br>

    <label>Motivo del retiro:</label><br>
    <textarea name="motivo" rows="3" required></textarea><br><br>

    <label>Nueva ubicación (opcional):</label><br>
    <input type="text" name="nueva_ubicacion"><br><br>

    <button type="submit">Confirmar Retiro</button>
</form>

<br>
<a href="/">Volver</a>

{% endblock %}
